<!-- {{#ui-button type="green" clicked="showTemplateModal"}}Create Folder{{/ui-button}} -->
{{#ui-button type="black" clicked="showDialog"}}Create Folder New{{/ui-button}}
<div class="container">
    {{outlet}}
</div>
